/*Fonts*/

$primary-font:'Poppins', medium;
$secondary-font:'Segoe UI', normal;
$font-menu:1em;
$font-menu-left:1.1em;

/*Kolory*/
$primary-color:white;
$secondary-color:#465461;

$button-color:#30383b;
$primary-text-color:#888888;
$secondary-text-color: #555555;
$border:1px solid red;

/*zmienne kontenerów*/

$small-container:100%;
$large-container: 960px;
$extra-large-container: 1140px;

/*Zmienne mobilne*/
$extra-small: 480px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

