#gas-boiler {
    background-color: #888;
    display: flex;


}
.container{
    display: flex;
}

.card-body {
    text-align: left;
    width: 18,5rem;
    height: 350px;
}


h5 {

    font-size: 1em;
}

h6 {

    display: inline;
    font-size: 1em;
}






@media (max-width: 652px) {


    #gas-boiler {
        min-height: 756px;

    }



}