body {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  
  }
  
  .red{
    color: red;
  }
  
  .black{
  color:black;
  
  }
  .header_container {
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    border: 0px solid red;
  }
  
  
  
  .header_cont {
    border: 0px solid red;
    min-height: 60px;
    width: 85%;
    display: flex;
  
  
  }
  
  .header_termobud {
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    border: 0px solid red;
    width:25%;
  }
  
  .header_termobud h1 {
    margin-top: 15px;};
  
  
    nav {
        justify-content: center;
        text-align: cebtr;
        height: 80px;
        border: 0px solid yellow;
        width: 75%;
      }
      
      nav ul {
        float: right;
      
      }
      
      nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 10 50px;
      }
      
      nav ul li a {
        color: black;
            font-size:1em;
        padding: 7px 15px;
        margin-bottom: 50px;
        text-decoration: none;
        font-weight: 500;
        border-radius: 20px;
      
      } 
      
      
      a.active {
        background: yellow;
        transition: .5s;
        color: #333;
        text-decoration: underline;
      
      }
      
      a:hover {
        background: black;
        transition: .5s;
        color: white;
        text-decoration: underline;
        border-radius: 20px;
      }
      a:hover {
        background: black;
        transition: .5s;
        color: white;
        text-decoration: underline;
        border-radius: 20px;
      }
      
      .checkbtn {
        font-size: 30px;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
      }
      
      #check {
        display: none;
      }
      
      
      
      @media (max-width: 952px) {
      
        nav ul li a {
          font-size: 1em;
          z-index: 2;
      
        }
      }
      
      @media (max-width: 858px) {
        .checkbtn {
          display: block;
        }
      
        ul {
          position: fixed;
          width: 100%;
          padding-left: 0px;
          background: red;
          top: 64px;
          left: -100%;
          text-align: center;
          z-index: 2;
      
        }
      
        nav ul li {
          display: block;
          margin: 20px 0;
          line-height: 25px;
          font-size: 1em;
          color: white;
        }
      
        nav ul li a {
          font-size: 1em;
          color: white;
        }
      
        a:hover,
        a.active {
          background: #0082e6;
          width: 100%;
        }
      
        #check:checked~ul {
          left: 0;
        }
      }
      
      @media (max-width: 652px) {
      
        nav ul li a {
          font-size: 1em;
          color: white;
          padding-left: 0px;
      
      
      
        }
      
        #arrowL {
      
          min-height: 756px;
        }
      
      
      
      }
  
  
  @media (max-width: 652px) {
   h1{margin-left: 15px;}
  
    
    
    .header_cont {
    
      width: 100%;
      margin-left: 5px;
      margin-right: 5px;
     
    
    
    }
  }